@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scripts/style/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 16, ../scripts/style/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 19, ../scripts/style/base/_reset.scss */
body {
  line-height: 1; }

/* line 22, ../scripts/style/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 25, ../scripts/style/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, ../scripts/style/base/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 34, ../scripts/style/base/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 38, ../scripts/style/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Media queries */
/* line 8, ../scripts/style/base/_variables.scss */
.mobile {
  display: none; }

/* line 9, ../scripts/style/base/_variables.scss */
.tablet {
  display: none; }

/* line 10, ../scripts/style/base/_variables.scss */
.desktop {
  display: block; }

/* line 11, ../scripts/style/base/_variables.scss */
.desktop-table {
  display: table; }

@media only screen and (max-width: 760px) {
  /* line 15, ../scripts/style/base/_variables.scss */
  .mobile, .mobile-table {
    display: none; }

  /* line 16, ../scripts/style/base/_variables.scss */
  .desktop, .desktop-table {
    display: none; }

  /* line 17, ../scripts/style/base/_variables.scss */
  .tablet {
    display: block; }

  /* line 18, ../scripts/style/base/_variables.scss */
  .tablet-table {
    display: table; } }
@media only screen and (max-width: 460px) {
  /* line 23, ../scripts/style/base/_variables.scss */
  .tablet, .tablet-table {
    display: none; }

  /* line 24, ../scripts/style/base/_variables.scss */
  .desktop, .desktop-table {
    display: none; }

  /* line 25, ../scripts/style/base/_variables.scss */
  .mobile {
    display: block; }

  /* line 26, ../scripts/style/base/_variables.scss */
  .mobile-table {
    display: table; } }
/* Susy Disabled
$susy: (
  columns: 12,
    
  grid-padding: 10px,
  gutter-position: inside,
  global-box-sizing: content-box,
);

.container {
   //@include container();
   //@include clearfix;
}

/* Variables */
@font-face {}
@font-face {}
/* line 2, ../scripts/style/pages/_dashboard.scss */
.dashboard .linebottom {
  border-bottom: 1px solid #86878b; }
/* line 5, ../scripts/style/pages/_dashboard.scss */
.dashboard .small {
  font-size: 16px; }
/* line 8, ../scripts/style/pages/_dashboard.scss */
.dashboard .medium {
  font-size: 17px; }
/* line 11, ../scripts/style/pages/_dashboard.scss */
.dashboard .cell-title {
  font-size: 18px;
  font-weight: bold; }
/* line 15, ../scripts/style/pages/_dashboard.scss */
.dashboard .money {
  font-size: 18px;
  display: block; }
/* line 19, ../scripts/style/pages/_dashboard.scss */
.dashboard .plus {
  display: block;
  margin: auto;
  background: url("../images/plus.png");
  background-size: 39px 39px;
  background-repeat: no-repeat;
  width: 39px;
  height: 39px; }
/* line 24, ../scripts/style/pages/_dashboard.scss */
.dashboard .shirt {
  display: block;
  margin: auto;
  background: url("../images/shirt.png");
  background-size: 35px 39px;
  background-repeat: no-repeat;
  width: 35px;
  height: 39px; }
/* line 29, ../scripts/style/pages/_dashboard.scss */
.dashboard .mail {
  display: block;
  margin: auto;
  background: url("../images/envelope.png");
  background-size: 40px 30px;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px; }
/* line 35, ../scripts/style/pages/_dashboard.scss */
.dashboard main {
  position: relative;
  height: 100%;
  z-index: 0;
  width: 100%;
  padding-top: 110px;
  box-sizing: border-box;
  display: block;
  min-height: 640px; }
  /* line 45, ../scripts/style/pages/_dashboard.scss */
  .dashboard main section {
    z-index: 1;
    top: 110px;
    background-color: green;
    height: 100%;
    width: 100%; }
    /* line 52, ../scripts/style/pages/_dashboard.scss */
    .dashboard main section .table {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: purple;
      opacity: 0.8;
      display: table;
      border-collapse: separate;
      border-spacing: 30px 30px;
      background: #454351;
      background: -moz-linear-gradient(top, #454351 0%, #666581 11%, #738eb5 22%, #22517c 37%, #31323f 54%, #171b21 60%, #809d2a 84%, #2c421f 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #454351), color-stop(11%, #666581), color-stop(22%, #738eb5), color-stop(37%, #22517c), color-stop(54%, #31323f), color-stop(60%, #171b21), color-stop(84%, #809d2a), color-stop(100%, #2c421f));
      background: -webkit-linear-gradient(top, #454351 0%, #666581 11%, #738eb5 22%, #22517c 37%, #31323f 54%, #171b21 60%, #809d2a 84%, #2c421f 100%);
      background: -o-linear-gradient(top, #454351 0%, #666581 11%, #738eb5 22%, #22517c 37%, #31323f 54%, #171b21 60%, #809d2a 84%, #2c421f 100%);
      background: -ms-linear-gradient(top, #454351 0%, #666581 11%, #738eb5 22%, #22517c 37%, #31323f 54%, #171b21 60%, #809d2a 84%, #2c421f 100%);
      background: linear-gradient(to bottom, #454351 0%, #666581 11%, #738eb5 22%, #22517c 37%, #31323f 54%, #171b21 60%, #809d2a 84%, #2c421f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454351', endColorstr='#2c421f', GradientType=0 ); }
      /* line 63, ../scripts/style/pages/_dashboard.scss */
      .dashboard main section .table .cell {
        background-color: rgba(0, 0, 0, 0.92);
        width: 50%;
        min-width: 120px;
        vertical-align: middle;
        text-align: center;
        overflow: hidden; }
        /* line 73, ../scripts/style/pages/_dashboard.scss */
        .dashboard main section .table .cell .wrapper {
          position: relative;
          width: 100%;
          height: auto;
          *zoom: 1;
          width: 100%; }
          /* line 54, ../scripts/style/base/_mixin.scss */
          .dashboard main section .table .cell .wrapper:before, .dashboard main section .table .cell .wrapper:after {
            content: " ";
            display: block !important; }
          /* line 59, ../scripts/style/base/_mixin.scss */
          .dashboard main section .table .cell .wrapper:after {
            clear: both; }
          /* line 80, ../scripts/style/pages/_dashboard.scss */
          .dashboard main section .table .cell .wrapper > span {
            height: auto;
            font-weight: bold;
            display: block;
            text-transform: uppercase;
            margin: auto; }
          /* line 89, ../scripts/style/pages/_dashboard.scss */
          .dashboard main section .table .cell .wrapper .box {
            margin: auto;
            display: inline-block;
            width: auto;
            margin-top: 10px;
            padding: 10px;
            border: 1px solid white;
            text-align: center;
            line-height: 20px; }
@media only screen and (max-width: 760px) {
  /* line 112, ../scripts/style/pages/_dashboard.scss */
  .dashboard main section .table {
    border-spacing: 25px 25px; } }
@media only screen and (max-width: 460px) {
  /* line 119, ../scripts/style/pages/_dashboard.scss */
  .dashboard .small {
    font-size: 13px; }
  /* line 122, ../scripts/style/pages/_dashboard.scss */
  .dashboard .medium {
    font-size: 14px; }
  /* line 125, ../scripts/style/pages/_dashboard.scss */
  .dashboard .money {
    font-size: 15px; }
  /* line 130, ../scripts/style/pages/_dashboard.scss */
  .dashboard main section .table {
    border-spacing: 15px 15px; }
    /* line 134, ../scripts/style/pages/_dashboard.scss */
    .dashboard main section .table .cell .wrapper > span {
      font-size: 13px;
      font-weight: bold; } }

/* line 1, ../scripts/style/modules/_header.scss */
header {
  position: fixed;
  height: 110px;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: black; }
  /* line 8, ../scripts/style/modules/_header.scss */
  header .in {
    display: inline; }
  /* line 12, ../scripts/style/modules/_header.scss */
  header .left {
    width: 25%; }
  /* line 17, ../scripts/style/modules/_header.scss */
  header .mid {
    width: 50%; }
  /* line 22, ../scripts/style/modules/_header.scss */
  header .right {
    width: 25%; }
  /* line 28, ../scripts/style/modules/_header.scss */
  header > span {
    display: block;
    width: 100%; }
  /* line 34, ../scripts/style/modules/_header.scss */
  header #sub-header {
    position: relative;
    padding: 10px; }
    /* line 37, ../scripts/style/modules/_header.scss */
    header #sub-header #back {
      color:   #86878b;
      margin-left: 6px; }
    /* line 41, ../scripts/style/modules/_header.scss */
    header #sub-header #title {
      position: absolute;
      width: 140px;
      height: auto;
      left: 50%;
      margin-left: -70px;
      text-align: center;
      font-weight: 600; }
  /* line 53, ../scripts/style/modules/_header.scss */
  header #mobile-menu-box {
    height: 70px; }
    /* line 56, ../scripts/style/modules/_header.scss */
    header #mobile-menu-box #mobile-menu-button {
      cursor: pointer;
      width: auto;
      display: table;
      margin-left: 6px; }
      /* line 62, ../scripts/style/modules/_header.scss */
      header #mobile-menu-box #mobile-menu-button span {
        display: block;
        background-color: #fff;
        height: 2px;
        width: 30px;
        margin: 10px; }

/* line 76, ../scripts/style/modules/_header.scss */
footer {
  margin-top: 14px; }

/* line 2, ../scripts/style/modules/_nav.scss */
header nav.mob {
  display: none;
  position: relative;
  z-index: 5; }
  /* line 6, ../scripts/style/modules/_nav.scss */
  header nav.mob ul {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
    /* line 11, ../scripts/style/modules/_nav.scss */
    header nav.mob ul li {
      display: block;
      width: 100%;
      padding: 10px;
      height: auto; }
      /* line 17, ../scripts/style/modules/_nav.scss */
      header nav.mob ul li:hover {
        background-color: #2c9f04; }

/* line 1, ../scripts/style/modules/_footer.scss */
footer {
  padding: 24px; }
  /* line 3, ../scripts/style/modules/_footer.scss */
  footer > div, footer > nav {
    border-bottom: 1px solid #86878b;
    padding-top: 24px;
    padding-bottom: 24px;
    *zoom: 1;
    width: 100%; }
    /* line 54, ../scripts/style/base/_mixin.scss */
    footer > div:before, footer > div:after, footer > nav:before, footer > nav:after {
      content: " ";
      display: block !important; }
    /* line 59, ../scripts/style/base/_mixin.scss */
    footer > div:after, footer > nav:after {
      clear: both; }
    /* line 8, ../scripts/style/modules/_footer.scss */
    footer > div:first-child, footer > nav:first-child {
      padding-top: 0px; }
  /* line 13, ../scripts/style/modules/_footer.scss */
  footer nav.footer ul {
    color: #86878b;
    float: left;
    width: 50%;
    box-sizing: border-box; }
    /* line 19, ../scripts/style/modules/_footer.scss */
    footer nav.footer ul li {
      font-size: 12px;
      padding-top: 24px;
      text-transform: uppercase; }

/* line 15, ../scripts/style/screen.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 25, ../scripts/style/screen.scss */
html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

/* line 37, ../scripts/style/screen.scss */
p {
  font-size: 14px;
  line-height: 20px; }

/* line 42, ../scripts/style/screen.scss */
.fullsize {
  width: 100%;
  height: 100%; }

/* line 47, ../scripts/style/screen.scss */
.relative {
  position: relative;
  margin: auto auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/* line 56, ../scripts/style/screen.scss */
.debugBorder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 62, ../scripts/style/screen.scss */
.table {
  display: table;
  width: 100%; }
  /* line 65, ../scripts/style/screen.scss */
  .table .row {
    display: table-row; }
  /* line 68, ../scripts/style/screen.scss */
  .table .cell {
    display: table-cell;
    vertical-align: middle; }

/* line 74, ../scripts/style/screen.scss */
.centered {
  display: block;
  margin: auto auto;
  text-align: center; }

/* line 82, ../scripts/style/screen.scss */
a:link,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: white; }

/* line 89, ../scripts/style/screen.scss */
a:hover {
  text-decoration: underline; }

/* line 93, ../scripts/style/screen.scss */
h1 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

/* line 101, ../scripts/style/screen.scss */
h3 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }
