footer{
    padding:24px;
    > div, > nav{
        border-bottom: 1px solid $lightGrey;   
        padding-top: 24px;
        padding-bottom: 24px;
        @include clearfix();
        &:first-child{
             padding-top: 0px;
        }
    }
    nav.footer{
        ul{
            color: $lightGrey;
            
            float:left;
            width: 50%;
            box-sizing: border-box;
            li{
                font-size: 12px;
                padding-top: 24px;
                text-transform: uppercase;
            }
        }
    }
    
}